@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #e1d09c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #822525;
}

.navbar-brand img {
    width: 120px;
}

.navbar-nav .nav-link {
    color: #e1d09c;
    font-family: "STIX Two Text", serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}

.navbar-nav .nav-link:hover {
    color: white;
}

footer {
    background-color: #822525;
    margin-top: auto;
}

.footerContainer {
    width: 100%;
    padding: 20px 30px 20px;
}

.fotterLogo {
    display: flex;
    justify-content: center;
}

.footerBottom {
    font-family: "STIX Two Text", serif;
    font-size: 20px;
    color: #e1d09c;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

p {
    margin-left: 20px;
    margin-right: 15px;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 150px;
    width: 60%;
    object-fit:fill;
    margin: 20px;
    align-self: center;
}

.card-body {
    background-color: white;
    color: black;
    border-radius: 0 0 20px 20px;
}

.card-body p {
    font-size: 14px;
}

.card-body h1 {
    font-size: 24px;
    margin-top: 10px;
}

.card-body .btn-primary {
    background-color: #822525;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body .btn-primary:hover {
    background-color: #e1d09c;
    color: #822525;
}

.container {
    margin-top: 50px;
}

.row-cols-1 .col {
    margin-bottom: 30px;
}
